
svg.circular-slider {
    position: absolute;
    display: inline-block;
}


span.circular-slider-dot:hover {
    background-color: #dcdcdc;
}

svg.circular-slider mask rect {
    fill: #ffffff;
}

svg.circular-slider mask line {
    stroke: rgb(0, 0, 0);
    stroke-width: 2;
}

svg.circular-slider .grid-circle {
    fill: none;
}

svg.circular-slider .progress-circle {
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
    opacity: 0.60;
    fill: none;
}

svg.circular-slider .end-dot-circle {
    fill: #ffffff;
    stroke: #c4c4c4;
}

