.circular-slider-legend {
    font-family: sans-serif;
}

.circular-slider-legend .value-span {
    font-weight: bold;
    font-size: 36px;
    min-width: 100px;
}

.circular-slider-legend .color-span {
    width: 16px;
    height: 10px;
    margin-left: 10px;
    margin-right: 10px;
    opacity: 0.6;
    display: inline-block;
}

.circular-slider-legend .label-spans {
    font-size: 12px;
}

